@media (max-width: 1253px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    .menu ul li a{
        font-size: 16px;
    }

    .noticia img{
        width: 60%;
        height: 40%;
    }
}
@media (max-width: 1132px){
    label.logo{
        font-size: 20px;
        padding-left: 35px;
    }
    .menu ul li a{
        font-size: 12px;
    }
}
@media (min-width: 1200px){
    .carousel-item img{
        width: 90%;
        object-fit: cover;
    }
}
@media (min-width: 1057px){
    .imagen{
        height: 25px;
        width: 50px;
    }
}
@media (max-width: 858px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(10px);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .8s;
    }
    .menu ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .menu ul li a{
        font-size: 25px;
    }
    a:hover,a.active{
        background: gray;
        color: orange;
    }
    #check:checked ~ ul{
        left: 0;
    }

    .mapa iframe{
        width: 400px;
        height: 200px;
    }

    .noticias{
        display: grid;
        grid-template-areas: "noticias";
    }

    .noticia img{
        width: 80%;
        height: 60%;
        object-fit: cover;
    }
}
@media (max-width:768px){
    .galeria{
        margin-left: 5px;
        margin-right: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}
@media (max-width:480px){
    .formulario{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 25%    ;
        width: 50%;
    }
    .formulario h2{
        font-size: 30px;
    }
    .formulario input{
        font-size: 20px;
    }
    .formulario textarea{
        font-size: 20px;
    }
}
@media (min-width: 320px){
    .grupoFairagro-texto{
        font-size: 23px;
    }

    .servicios-descripcion{
        font-size: 21px;
    }
    .servi{
        align-items: center;
    }

    .pagServicios-descripcion{
        font-size: 25px;
        margin: 0 10px;      
    }
    
    .noticia h3{
        font-size: 30px;
    }
    .noticia p{
        font-size: 25px;
    }
}